.btn-position {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.btn-link a {
  text-decoration: none;
  color: white;
}
.btn-link {
  margin: 2rem 1rem;
  width: 15rem;
  text-align: center;
  padding: 0.5rem;
  background-color: #444444;
  border-radius: 0.5rem;
}
@media (max-width: 600px){
  .btn-link{
    display: flex;
    width: 50vw;
    justify-content: center;
  }
  }
.btn-position {
    display: flex;
    justify-content: center;
}