Form {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto 3rem auto;
  border: 0.25rem solid #c2c27d;
  box-shadow: 14px 13px 15px 3px #000;
  border-radius: 1rem;
  padding: 0.5rem 2rem 2rem 2rem;
  background-color: #c2c27da9;
}

.forget {
  margin: 0.5rem;
  text-align: center;
  color: forestgreen;
  font-weight: bold;
}

.form-description {
  color: #363434;
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
}

.label {
  width: 30rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 0.3rem;
}

.label p {
  margin: 0.5rem 0 0.2rem 0;
  text-align: left;
  color: black;
}

.label input {
  height: 2rem;
  border-radius: 23px;
  border: 1px;
}

.label select {
  height: 2rem;
  background-color: #d1d8b1;
  font-weight: bold;
  border-radius: 0.2rem;
  border-radius: 23px;
  border: 1.5px solid #94b020;
}

.adress {
  display: flex;
  flex-direction: column;
  width: 32rem;
  height: 15rem;
  border: solid 2px #93b117;
  background-color: #92b11734;
  border-radius: 0.4rem;
  padding: 0.2rem 0.2rem 4rem 0.2rem;
  margin: 1.5rem 3rem;
}

.submit {
  background-color: #444444;
  color: white;
  margin: 2rem 35%;
  text-align: center;
  width: 10rem;
}
.react-datepicker-wrapper input {
  width: 100%;
}

.react-datepicker__current-month {
  color: black;
  text-decoration: underline;
  font-weight: bolder;
}

.react-datepicker__day--today,
.react-datepicker__month-text--today,
.react-datepicker__quarter-text--today,
.react-datepicker__year-text--today {
  font-weight: bolder;
  color: black;
  text-decoration: underline;
  background-color: #44444456;
}

@media (max-width: 1025px) {
  Form {
    width: 66vw;
  }
  .label {
    width: 20rem;
  }

  .label select {
    height: 2.8rem;
  }
  .adress {
    width: 23rem;
  }
  .react-datepicker-wrapper input {
    height: 2.5rem;
  }
}

@media (max-width: 800px) {
  Form {
    width: 60vw;
  }

  .label select {
    height: 2.8rem;
  }

  .react-datepicker-wrapper input {
    width: 97%;
    height: 2.5rem;
  }
  .submit {
    margin: 2rem 26%;
  }
}
