
.employees {
  height: auto;
}

.employees-link a {
  text-decoration: none;
  color: white;
}
.employees-link {
  margin: 5rem auto 5rem;
  width: 5rem;
  text-align: center;
  padding: 0.5rem;
  background-color: #444444;
  border-radius: 0.5rem;
}
.employees h2 {
  display: none;
}
.employees .banner img {
  width: 15rem;
  height: auto;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.table {
  margin-top: -10rem;
}

@media (max-width: 1300px) {
  .employees .banner img {
    width: 11rem;
  }
}
@media (max-width: 970px) {
  .employees .banner img {
    width: 10rem;
  }
}

@media (max-width: 720px) {
  .banner img {
    width: 8rem;
    position: absolute;
    right: 0;
    top: 0;
  }

  h1 {
    padding-top: 10rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 575px) {
  h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 540px) {
  .banner img {
    display: none;
  }
}
